
.sec
{
    
    background-color: deeppink;
}

nav{
margin-bottom:0px;

   }
       
@media only screen and (max-width:768px)
{
    .abc{ 
        display:inline-block;
        width:100%;
        }
}
.col-lg-12{
 padding-bottom: 20px;   
    
}

