@media only screen and (max-width:768px)
{
    .abc{ 
        display:inline-block;
        width:100%;
        }
  
}

.back{
    height:300px;
    background-image: linear-gradient(to right,yellow,red);
    border-radius: 25px;
    margin-top: -20px;
}

.all{
    
    padding:0px;
    margin-top: 5px;
    
}
.clr{
    color:red;
}
.box
{
    height: 300px;
    width:300px;
    margin-right: 10px;
    background-color: grey;
    border-radius: 10px;
}
.item
{
    margin-top:20px;
}
.photo
{
    margin-top:-150px;
}
.stay{
    background-color:black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    }
.infor{
    text-align: center;
    font-size: 40px;
    color:white;
    padding: 50px;
      }
.promotion{
         text-align: center;
         color:white;
         font-size:20px;

          }
.inp{
    height:35px;
}
.last
{
    margin-top: 10px;
    width:100%;
}
.wid
{
    width:20%;
    float:left;
    font-size:10px;
}

.ryt{
    float:right;
    width: 20%;
    font-size: 8px;
}
